<div class="info">グループを作成しました</div>

<div class="container"> <!-- 親要素 -->

  <div class="left--content"><!-- 子要素１ -->
    <div class="left__header">
      <p>sample</p>
      <ul>
        <li><a href="#">z</a></li>
        <li><a href="#">a</a></li>
      </ul>
    </div>
      <div class="groups">
        <div class="groups--title">
          test-group
        </div>
        <div class="groups--name">
          さようなら
        </div>
        <div class="groups--title">
          Test Group2
        </div>
        <div class="groups--name">
          user02
        </div>
        <div class="groups--title">
          Test Group3
        </div>
        <div class="groups--name">
          user03
        </div>
    </div>
  </div>

  <div class="main--content"><!-- 子要素2 -->
    <div class="main__header">
        <div class="header--container">
            <div class="main--title">
                test-group
            </div>
            <div class="main--name">
              Menber:sample
            </div>
        </div>
        <div class="edit">
          Edit
        </div>
    </div>

    <div class="main--box">
      <div class="post--box">
        <div class="user--box">
          <div class="user--name">
            test-user
          </div>
          <div class="post--date">
            2019/11/01
          </div>
        </div>
        <div class="post--text">
          こんにちは！
        </div>

      </div>

    </div>

    <div class ="bottom--content">
      <form action="#" class="form">
          <input type="text" name="text1" class="decoration" value="type message">
          <label>
              <!-- ▽見せる部分 -->
              <span class="icon--picture">
                icon
              </span>
              <!-- ▽本来の選択フォームは隠す -->
              <input type="file" name="datafile" id="filesend">
           </label>
      </form>
      <div class="btn">
        Send
      </div>
    </div>
    </div>
  </div>
</div>