@import "./variable";

.left--content{
  width: 300px;
  display: flex;
  flex-direction: column;
  color: $white;
  font-weight: bold;
  &__header {
    height: 100px;
    width: 260px;
    background-color: $side_blue_dark;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

ul {
  display: flex;
  li a {
    color: $white;
    text-decoration: none;
  }
}

.groups {
  padding: 20px;
  background-color: $side_blue_light;
  height: calc(100vh - 140px);
  &__name {
    font-size: 15px;
  }
  &__message {
    padding-top: 5px;
    font-size:11px;
    margin-bottom: 40px;
  }
}
